body { 
  font-family: sans-serif; 
  font-size: 1em;
  line-height: 1.5;
  line-height: 1.25;
}

a { color: blue; }

h1 > a {
  border-bottom: 10px solid pink;
  color: black;
  text-decoration: none;
}

.no-style-link {
  color: black;
  border: none;
  text-decoration: none;
}

.page-title {
  width: 176px;
  padding: 0.4rem 0.5rem;
  padding-top: 0.55rem;
  margin-left: 1rem;
  margin-top: 1rem;
  border: 4px solid pink;
  /* border-radius: 20px; */
}

.flex-container {
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
}

.music {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.music-block {
  margin-top: 10px;
  width: 64px;
  height: 64px;
  border: 3px solid black;
  /* border-radius: 16px; */
}
.music-done { 
  border: 2px dotted pink;
  padding: 0.5rem;
}

.intro {
  margin-left: 1.6rem;
}

.nav {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; align-items: center;
}

.nav a  {
  background-color: pink;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  color: blue;
  font-weight: bold;
  margin: 0.2rem;
}

.at-link:before { content: "@"; }
.left-arrow:after { content: " ←" };
.down-arrow:after { content: " ↓"; }
.up-arrow:after { content: " ↑"; }

.posts {
  padding: 0 0.4rem;
}

.blog-post {
  border: 1px dashed black;
  margin-bottom: 1rem;
}
.blog-post h1 {
  text-align: center;
  font-weight: normal;
  text-transform: lowercase;
}
.blog-post h1:after {
  color: blue;
  content: " ↗";
}
.preview {
  margin-left: 0.5rem;
  width: 20rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* SCREENS */

@media screen and (min-width: 60em) {
  .flex-container {
    flex-direction: row;
  }
  .music {
    width: 300px;
  }

  .flex-filler { flex-grow: 1; }

  .general {
    display: flex;
    flex-direction: column;
    width: 46%
  }
  .intro p { font-size: 1.1em; }
  .block {
  }

  .nav {
    border-left: 6px solid black;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .nav a, .nav [role="button"] {
    margin:  1rem;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    color: blue;
    font-weight: bold;
    font-size: 1.5rem;
    width: 16px;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    /* border: 1px solid red; */
    writing-mode: vertical-lr;
  }
  .nav [role="button"]:after { content: attr(id) " ↑"; }
  .current:after { content: " ↑"; }

  .posts {
    margin-left: 1.6rem;
  }

  .blog-post h1 {
    font-weight: normal;
    text-transform: lowercase;
  }
  .blog-post h1:after {
    color: blue;
    content: " ↗";
  }
  .preview {
    border: none;
    margin-left: 0.5rem;
    width: 32rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .project-description {
    max-width: 30rem;
  }
}
@media screen and (min-width 85.375em) {
  body { font-size: 1.3rem; }
}
@media screen and (min-width 160em) {
  body { font-size: 1.4rem; }
}
@media screen and (min-width 120em) {
  body { font-size: 1.6rem; }
}

