body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100vh;
  display: grid;
  /* 
  creates two rows, creating columns would look like:
     grid-template-areas: "col1row1 col2row1 col3row1"
                          "col1row2 col2row2 col3row2"
  fucking named spaces holy cow
    */
  grid-template-areas: "desktop" "dock";
  grid-template-rows: auto max-content;
}

.dock {
  grid-area: "dock";
  padding: 0.2rem 0.2rem;
  background-color: gray;
  font-weight: bold;
}

.desktop {
  grid-area: "desktop";
  background-color: #000084;
  color: #bbbbbb;
}

.desktop-grid {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 40px);
  grid-template-rows: repeat(auto-fill, 40px);
}
